.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #258ea6;
}

.form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
}

.errorMessage {
  color: red;
}

form {
  width: 100%;
  flex-wrap: wrap;
  border-radius: 6px !important;
}

label {
  font-size: 0.9em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: '200';
}

input {
  padding: 4px 4px;
  border-radius: 5px;
  border-block-color: #fff;
}
.lastName {
  margin-left: 1%;
}

.firstName,
.lastName,
.email,
.jobTitle,
.birthday {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.error {
  border-color: red;
}

.firstName,
.lastName {
  width: 49%;
  display: inline-flex !important;
}

.email,
.jobTitle,
.birthday {
  width: 100%;
}

.email {
  width: 100%;
}

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount button {
  background-color: #519e8a;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.createAccount button:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}

.createAccount small {
  color: rgb(77, 77, 77);
  font-weight: lighter;
}
